html {
  background-color: #dbd6cf;
  font-family: "Bevan, sans-serif";
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
  padding: 0.75em;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;

  margin: .3em auto;
}

h1 {
  color: #fff;
  font-family: "Bevan";
  padding: .3em;
  text-align: center;
  margin-top: 0.1em;
}

nav ul {
  font-family: sans-serif;
  list-style-type: none;
  text-align: center;
  font-size: 1em;
}

a,
a:link {
  background-color: #713837;
  padding: 0.5em;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}

a:hover {
  background-color: #f33;
}

nav li {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  margin: .3em auto;
}
