html {
  background-color: #dbd6cf;
  font-family: sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
  padding: 0.5em;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;

  margin: 0;
}

h1 {
  color: #fff;
  font-family: "Bevan", serif;
  text-align: center;
  margin: 0.1em;

}

nav ul {
  font-family: sans-serif;
  list-style-type: none;
  text-align: center;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

a,
a:link {
  background-color: #713837;
  padding: 0.75em;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  margin: .1em;
}

a:hover {
  background-color: #f33;
}

nav li {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
}
